@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */

:root {
    --font: "Raleway", sans-serif;
    --black: #171717;
    --green: #228B22;
}

/* Elements */

body {
    background-color: #f0f0f0;
    font-family: var(--font);
}

header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black);
}

nav {
    align-content: center;
}

/* Classes */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    gap: 2px;
}

.nav-bar a {
    width: 30%;
    color: var(--black);
    text-align: center;
    text-decoration: none;
}
